CONFIG_BLINK_LED_STRIP=y
#
# WS2812 GPIO48 test configuration.
#
CONFIG_BLINK_GPIO=48
CONFIG_BLINK_PERIOD=1000
CONFIG_MOTOR_IN1_GPIO=16
CONFIG_MOTOR_IN2_GPIO=17
CONFIG_MOTOR_PWM_GPIO=18
CONFIG_MOTOR_PWM_FREQ_HZ=20000
CONFIG_ENCODER_A_GPIO=41
CONFIG_ENCODER_B_GPIO=42
CONFIG_ENCODER_GLITCH_FILTER_NS=1000
CONFIG_ENCODER_COUNTS_PER_REVOLUTION=0
CONFIG_SPEED_COLOR_MAX_CPS=2000
CONFIG_MOTOR_DEMO_MAX_DUTY_PERMILLE=500
